@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.calculator {
    height: fit-content;
    max-width: 400px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    box-shadow: -30px 20px 100px 10px rgba(255, 79, 120, 0.47),30px -20px 100px -5px #5e6ed4;
}

h1{
    margin: 20px 0;
}

input{
    height: 30px;
    margin: 10px 0;
    width: 250px;
    border: 2px solid rgba(43, 43, 43, 1);
    font-weight: bolder;
    font-size: large;
    padding: 5px;
}

input:focus{
    outline: none;
}

.buttonContainer{
    display: inline-flex;
    width: 264px;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

button{
    height: 50px;
    width: 50px;
    background-color: rgba(43, 43, 43, 1);
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: large;
}

button:nth-child(3) span{
    margin-top: 8px;
}

.success{
    color: blue;
}

.error{
    color: red;
}

.result{
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}

.output{
    font-weight: 700;
    color: rgb(90, 90, 90);
    font-size: large;
}


@media screen and (max-width: 480px) {
    

    .calculator{
        padding: 10px;
        display: inherit;
        margin: 10px;
    }
}

